.form-group {
    width: 220px;
    margin-right: 20px;
}

.form-control-range {
    border-radius: 10px;
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

.form-control-range {
    -webkit-appearance: none;
    outline: none;
}

.form-control-range::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: var(--white);
    border-radius: 50%;
    cursor: pointer;
    height: 10px;
    width: 10px;
}

.form-control-range::-moz-range-thumb {
    -webkit-appearance: none;
    background: var(--white);
    border-radius: 50%;
    cursor: pointer;
    height: 10px;
    width: 10px;
}

.form-control-range::-ms-thumb {
    -webkit-appearance: none;
    background: var(--white);
    border-radius: 50%;
    cursor: pointer;
    height: 10px;
    width: 10px;
}
